body {
  background-color: rgb(238, 210, 172);
}
#div1 {
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* #div2 {
  border-style: solid;
  align-items: center;
} */
